{
  "openapi": "3.1.0",
  "info": {
    "title": "LeadsPay AI Actions API",
    "description": "API oficial da LeadsPay para GPT Actions e agentes compatíveis com OpenAPI. Usa a mesma API Key segura do servidor MCP.",
    "version": "1.0.0",
    "contact": {
      "name": "LeadsPay",
      "url": "https://www.techify.sbs"
    }
  },
  "servers": [
    {
      "url": "https://www.techify.sbs/api/mcp/v1",
      "description": "Produção LeadsPay"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "executeLeadsPayAction",
        "summary": "Executa uma ferramenta LeadsPay",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ação executada com sucesso"
          },
          "400": {
            "description": "Ação ou parâmetros inválidos"
          },
          "401": {
            "description": "API Key ausente, inválida ou revogada"
          },
          "403": {
            "description": "A conta não possui permissão para a ação"
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Consulta saldo real da conta autenticada",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "empresa",
                "afiliado"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saldo consultado"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "Lista ofertas ativas",
        "responses": {
          "200": {
            "description": "Ofertas ativas"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/affiliations": {
      "get": {
        "operationId": "getAffiliations",
        "summary": "Lista as afiliações ativas do afiliado autenticado",
        "responses": {
          "200": {
            "description": "Afiliações ativas"
          },
          "403": {
            "description": "Requer perfil Afiliado aprovado"
          }
        }
      }
    },
    "/coupons": {
      "get": {
        "operationId": "listCoupons",
        "summary": "Lista cupons da empresa autenticada",
        "responses": {
          "200": {
            "description": "Cupons da empresa"
          },
          "403": {
            "description": "Requer perfil Empresa aprovado"
          }
        }
      },
      "post": {
        "operationId": "createCoupon",
        "summary": "Cria ou atualiza um cupom da empresa autenticada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCouponParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cupom salvo"
          },
          "400": {
            "description": "Cupom inválido"
          },
          "403": {
            "description": "Requer perfil Empresa aprovado"
          }
        }
      }
    },
    "/checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Gera um link oficial de checkout para uma oferta existente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout gerado"
          },
          "400": {
            "description": "Produto ou cupom inválido"
          },
          "403": {
            "description": "Afiliação ou permissão insuficiente"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "LeadsPay API Key",
        "description": "Use a chave lp_live_ gerada em Assistentes de IA & MCP. O valor completo é exibido somente na criação."
      }
    },
    "schemas": {
      "ActionRequest": {
        "type": "object",
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "get_balance",
              "list_products",
              "get_affiliations",
              "create_coupon",
              "list_coupons",
              "create_checkout"
            ]
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "CreateCouponParams": {
        "type": "object",
        "required": [
          "code",
          "discount"
        ],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 3,
            "maxLength": 40
          },
          "discount": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "discountType": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed"
            ],
            "default": "percentage"
          },
          "maxUses": {
            "type": "integer",
            "minimum": 0,
            "default": 100
          },
          "expiresAt": {
            "type": "string",
            "description": "Data ISO ou DD/MM/AAAA"
          },
          "planId": {
            "type": "string",
            "description": "ID da oferta ou all"
          }
        },
        "additionalProperties": false
      },
      "CreateCheckoutParams": {
        "type": "object",
        "required": [
          "productId"
        ],
        "properties": {
          "productId": {
            "type": "string",
            "description": "ID ou slug de uma oferta existente"
          },
          "couponCode": {
            "type": "string",
            "maxLength": 40
          }
        },
        "additionalProperties": false
      }
    }
  }
}
